<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="accordion">
    <div class="item">
     <p class="number">02</p>
     <p class="text">How Long Do I Have To return my Chair?</p>
     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
      </svg>
      <div class="hideen-class">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ea dolore aliquid provident deserunt error qui magnam saepe in quaerat voluptates voluptatibus ipsam atque vero, eum voluptatem earum molestiae esse!
        </p>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Voluptatibus velit neque repudiandae, aperiam rerum odit, odio unde iusto, quibusdam magnam libero!</li>
            <li>Possimus repellat autem non sed.</li>
            <li>Dicta fuga rem consequatur.</li>
        </ul>
    </div>
</div>
<div class="item open">
    <p class="number">02</p>
    <p class="text">How Long Do I Have To return my Chair?</p>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
       <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
     </svg>
     <div class="hideen-class">
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ea dolore aliquid provident deserunt error qui magnam saepe in quaerat voluptates voluptatibus ipsam atque vero, eum voluptatem earum molestiae esse!
       </p>
       <ul>
           <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
           <li>Voluptatibus velit neque repudiandae, aperiam rerum odit, odio unde iusto, quibusdam magnam libero!</li>
           <li>Possimus repellat autem non sed.</li>
           <li>Dicta fuga rem consequatur.</li>
       </ul>
   </div>
</div>
<div class="item">
    <p class="number">02</p>
    <p class="text">Do You ship to country outside India </p>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
       <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
     </svg>
     <div class="hideen-class">
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ea dolore aliquid provident deserunt error qui magnam saepe in quaerat voluptates voluptatibus ipsam atque vero, eum voluptatem earum molestiae esse!
       </p>
       <ul>
           <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
           <li>Voluptatibus velit neque repudiandae, aperiam rerum odit, odio unde iusto, quibusdam magnam libero!</li>
           <li>Possimus repellat autem non sed.</li>
           <li>Dicta fuga rem consequatur.</li>
       </ul>
   </div>
</div>
    </div>
</body>
</html> 