<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OmniFood HEro Section</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    html {
      font-family: "Rubik", sans-serif;
      color: #444;
    }
    nav {
      font-size: 20px;
      font-weight: 700;
      display: flex;
      justify-content: space-between;
    }
    h1 {
      font-size: 52px;
      margin-bottom: 32px;
    }
  </style>
  <body>
    <header>
      <nav>
        <div>LOGO</div>
        <div>NAVIGATION</div>
      </nav>

      <div>
        <h1>A Healthy Meal Deliver To You Door,Every Single Day</h1>
        <p>
          The Smart 365-day-per-year food subscription that will make you eat
          healty algai, Tailored To Your Personel Tates and nutritions needs
        </p>
        <a href="#" class="btn">Start Eating Well</a>
      </div>
    </header>
    <section>
      <h2>This is the Hero Section</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, at
        quam est sunt harum voluptates excepturi autem! Inventore dolores at,
        sed aut quia modi aliquam consequuntur magni delectus accusamus
        incidunt.
      </p>
    </section>
  </body>
</html>
